<!doctype html>
<meta charset="utf-8">
<title>{{g.doc.title}} – {{g.pod.title}}</title>
<link rel="stylesheet" href="/media/main.css">
<header>
  <h1>{{g.pod.title}}</h1>
</header>
<div class="row">
  <div class="col-md-3">
    <nav>
      <ul class="nav nav-pills nav-stacked">
        {% for page in g.docs('pages') %}
        <li><a href="{{page.url}}">{{page.title}}</a>
        {% endfor %}
      </ul>
    </nav>
  </div>
  <div class="col-md-9">
    <article>
    <h2>{{g.doc.title}}</h2>
    {{g.doc.html|safe}}
    </article>
  </div>
</div>
<footer>
  <img src="/media/blastoff.png" alt="Grow site">
</footer>
