<!doctype html>
<meta charset="utf-8">
<title>{{g.doc.title}}</title>
<link href="//fonts.googleapis.com/css?family=Roboto:400,300,100" rel="stylesheet">
<link href="/static/main.css" rel="stylesheet">
<div class="wrap">
  <header>
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">{{g.pod.title}}</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
        <ul class="nav navbar-nav">
        {% for page in g.docs('pages') %}
          <li><a href="{{page.url}}">{{page.title}}</a>
        {% endfor %}
        </ul>
      </div>
    </nav>
  </header>
  <main>
    {% block main %}

      {% for post in g.docs('posts') %}
        <section>
          <h2><a href="{{post.url}}">{{post.title}}</a></h2>
          {{post.html|safe}}
        </section>
      {% endfor %}

    {% endblock %}
  </main>
</div>
